<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg" />
        <h2 > {{titulo2}} </h2>
        <ng-content></ng-content>
        <button 
            class="primary" 
            (click)="submit()" 
            [disabled]="disablePrimaryBtn"
        > {{primaryBtnText}} </button>
            <div class="divider">
                <span class="divider1"></span>
                <span>Ou</span>
                <span class="divider1"></span>
            </div>
        <button class="secondary" (click)="navigate()"> {{secondaryBtnText}} </button>
    </section>
    <section class="main-section">
        <h2>Você pode viver uma vida mais feliz</h2>
        <img src="/assets/svg/main-illustration.svg" />
    </section>
</main>


















